body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
}

.board {
  height: 100vh;
  width: 456px;
  margin: 10px;
  padding: 10px;
  background-color: green;
}

.cardInput {
  width: 95%;
  background-color: none;
}
